# flyctl launch added from .gitignore
**/.venv
**/.env
**/marketmaker.db
**/spend.db
**/exports
**/__pycache__
**/*.pyc
**/dist
**/build
**/*.egg-info

# flyctl launch added from .venv/.gitignore
# Created by venv; see https://docs.python.org/3/library/venv.html
.venv/**/*
fly.toml
